Repository Yokaito/quixer, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Website, Area: Packages UI, Area: Packages Server

.github/labeler.yml:

---
"Area: Website":
  - any: ["apps/commerce/**/*"]

"Area: Packages UI":
  - any: ["packages/ui/**/*"]

"Area: Packages Server":
  - any: ["packages/server/**/*"]

[skip ci] Release: 0.0.1
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Labels: Area: Website, Area: Packages UI, Area: Packages Server

chore(server): make package server public
  packages/server/package.json
Labels: Area: Packages Server

[skip ci] Release: 0.0.2
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Website, Area: Packages UI, Area: Packages Server

chore(commerce): update packges
  apps/commerce/package.json
Labels: Area: Website

[skip ci] Release: 0.0.3
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Website, Area: Packages UI, Area: Packages Server
