Repository Yokaito/quixer, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Commerce, Area: Packages UI, Area: Packages Server

.github/labeler.yml:

---
"Area: Commerce":
  - any: ["apps/commerce/**/*"]

"Area: Packages UI":
  - any: ["packages/ui/**/*"]

"Area: Packages Server":
  - any: ["packages/server/**/*"]

chore(docs): add code of conduct and change readme
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/README.md
Labels: none

[skip ci] Release: 0.0.4
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

refactor: add link in home to go to product test page
  apps/commerce/src/app/page.tsx
  apps/commerce/src/app/product/[handle]/page.tsx
Labels: Area: Commerce

feat: add validation to context and to creation of shopifyClient
  packages/server/src/integrations/shopify/index.ts
  packages/server/src/middlewares/validateContext.ts
  packages/server/src/routers/product/index.ts
  packages/server/src/trpc.ts
Labels: Area: Packages Server

[skip ci] Release: 0.0.5
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

chore(commerce): remove last files to shopify integration inside commerce
  apps/commerce/src/app/product/[handle]/page.tsx
  apps/commerce/src/sdk/lib/constants.ts
  apps/commerce/src/sdk/lib/type-guards.ts
  apps/commerce/src/sdk/lib/utils.ts
Labels: Area: Commerce

[skip ci] Release: 0.0.6
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

fix: imports in commerce website server
  .vscode/settings.json
  apps/commerce/next.config.js
  apps/commerce/package.json
  apps/commerce/src/app/api/trpc/[trpc]/route.ts
  apps/commerce/src/sdk/lib/trpc/react.tsx
  apps/commerce/src/sdk/lib/trpc/server.ts
  apps/commerce/src/sdk/lib/trpc/shared.ts
  pnpm-lock.yaml
Labels: Area: Commerce

[skip ci] Release: 0.0.7
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

feat: make another package sdk using tsup to make router reliable
  .gitignore
  packages/sdk/.eslintrc.js
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/sdk/src/client.ts
  packages/sdk/src/index.ts
  packages/sdk/src/integrations/shopify/fragments/image.ts
  packages/sdk/src/integrations/shopify/fragments/index.ts
  packages/sdk/src/integrations/shopify/fragments/product.ts
  packages/sdk/src/integrations/shopify/fragments/seo.ts
  packages/sdk/src/integrations/shopify/index.ts
  packages/sdk/src/integrations/shopify/queries/product.ts
  packages/sdk/src/integrations/shopify/requests/product.ts
  packages/sdk/src/integrations/shopify/type-guards.ts
  packages/sdk/src/middlewares/validateContext.ts
  packages/sdk/src/routers/product/index.ts
  packages/sdk/src/trpc/root.ts
  packages/sdk/src/trpc/trpc.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/reshapes/cart.ts
  packages/sdk/src/utils/reshapes/collection.ts
  packages/sdk/src/utils/reshapes/edges.ts
  packages/sdk/src/utils/reshapes/image.ts
  packages/sdk/src/utils/reshapes/index.ts
  packages/sdk/src/utils/reshapes/product.ts
  packages/sdk/src/utils/types/cart.ts
  packages/sdk/src/utils/types/collection.ts
  packages/sdk/src/utils/types/image.ts
  packages/sdk/src/utils/types/index.ts
  packages/sdk/src/utils/types/money.ts
  packages/sdk/src/utils/types/product.ts
  packages/sdk/src/utils/types/seo.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Labels: none

[skip ci] Release: 0.0.8
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

feat: make dist go to npm packages
  packages/sdk/package.json
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
Labels: none

[skip ci] Release: 0.0.9
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

chore: change files in exports package @quixer/sdk
  packages/sdk/package.json
Labels: none

[skip ci] Release: 0.0.10
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

chore: change files and remove type module in sdk
  packages/sdk/package.json
  packages/sdk/src/client.ts
  packages/sdk/tsup.config.ts
Labels: none

[skip ci] Release: 0.0.11
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

chore: add output dist folder in turbo
  package.json
  turbo.json
Labels: none

[skip ci] Release: 0.0.12
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

feat: first time test commerce with reutilisable sdk router
  apps/commerce/next.config.js
  apps/commerce/package.json
  apps/commerce/src/app/api/trpc/[trpc]/route.ts
  apps/commerce/src/sdk/lib/trpc/react.tsx
  apps/commerce/src/sdk/lib/trpc/server.ts
  apps/commerce/src/sdk/lib/trpc/shared.ts
  packages/sdk/package.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
Labels: Area: Commerce

refactor: make commerce dont depend to sdk unless is release
  apps/commerce/next.config.js
  apps/commerce/package.json
  apps/commerce/src/app/api/trpc/[trpc]/route.ts
  apps/commerce/src/sdk/lib/trpc/react.tsx
  apps/commerce/src/sdk/lib/trpc/server.ts
  apps/commerce/src/sdk/lib/trpc/shared.ts
  pnpm-lock.yaml
Labels: Area: Commerce

chore: make release dont use cache in build stage
  .github/workflows/release.yml
Labels: none

chore: change script to release build only packages
  .github/workflows/release.yml
  package.json
  turbo.json
Labels: none

[skip ci] Release: 0.0.13
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

feat: make package work with nextjs
  .github/workflows/release.yml
  apps/commerce/next.config.js
  apps/commerce/package.json
  apps/commerce/src/app/api/trpc/[trpc]/route.ts
  apps/commerce/src/sdk/lib/trpc/react.tsx
  apps/commerce/src/sdk/lib/trpc/server.ts
  apps/commerce/src/sdk/lib/trpc/shared.ts
  package.json
  packages/sdk/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: Area: Commerce

[skip ci] Release: 0.0.14
  CHANGELOG.md
  apps/commerce/CHANGELOG.md
  apps/commerce/package.json
  lerna.json
  packages/eslint-config-custom/CHANGELOG.md
  packages/eslint-config-custom/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  packages/server/CHANGELOG.md
  packages/server/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  pnpm-lock.yaml
Labels: Area: Commerce, Area: Packages UI, Area: Packages Server

chore: remove package server to use sdk instead
  packages/server/.eslintrc.js
  packages/server/CHANGELOG.md
  packages/server/index.ts
  packages/server/package.json
  packages/server/src/integrations/shopify/fragments/image.ts
  packages/server/src/integrations/shopify/fragments/index.ts
  packages/server/src/integrations/shopify/fragments/product.ts
  packages/server/src/integrations/shopify/fragments/seo.ts
  packages/server/src/integrations/shopify/index.ts
  packages/server/src/integrations/shopify/queries/product.ts
  packages/server/src/integrations/shopify/requests/product.ts
  packages/server/src/integrations/shopify/type-guards.ts
  packages/server/src/middlewares/validateContext.ts
  packages/server/src/root.ts
  packages/server/src/routers/product/index.ts
  packages/server/src/trpc.ts
  packages/server/src/utils/index.ts
  packages/server/src/utils/reshapes/cart.ts
  packages/server/src/utils/reshapes/collection.ts
  packages/server/src/utils/reshapes/edges.ts
  packages/server/src/utils/reshapes/image.ts
  packages/server/src/utils/reshapes/index.ts
  packages/server/src/utils/reshapes/product.ts
  packages/server/src/utils/types/cart.ts
  packages/server/src/utils/types/collection.ts
  packages/server/src/utils/types/image.ts
  packages/server/src/utils/types/index.ts
  packages/server/src/utils/types/money.ts
  packages/server/src/utils/types/product.ts
  packages/server/src/utils/types/seo.ts
  packages/server/tsconfig.json
Labels: Area: Packages Server

refactor: sdk with paths, change integrations to client and another tips
  apps/commerce/src/app/api/trpc/[trpc]/route.ts
  apps/commerce/src/sdk/lib/trpc/server.ts
  packages/sdk/package.json
  packages/sdk/src/client.ts
  packages/sdk/src/index.ts
  packages/sdk/src/integrations/clients/shopify/fragments/image.ts
  packages/sdk/src/integrations/clients/shopify/fragments/index.ts
  packages/sdk/src/integrations/clients/shopify/fragments/product.ts
  packages/sdk/src/integrations/clients/shopify/fragments/seo.ts
  packages/sdk/src/integrations/clients/shopify/index.ts
  packages/sdk/src/integrations/clients/shopify/product.ts
  packages/sdk/src/integrations/clients/shopify/queries/product.ts
  packages/sdk/src/integrations/clients/shopify/type-guards.ts
  packages/sdk/src/routers/middlewares/validateContext.ts
  packages/sdk/src/routers/product/index.ts
  packages/sdk/src/trpc/root.ts
  packages/sdk/src/trpc/trpc.ts
  packages/sdk/src/utils/reshapes/cart.ts
  packages/sdk/src/utils/reshapes/collection.ts
  packages/sdk/src/utils/reshapes/edges.ts
  packages/sdk/src/utils/reshapes/image.ts
  packages/sdk/src/utils/reshapes/product.ts
  packages/sdk/tsconfig.json
  packages/sdk/tsup.config.ts
Labels: Area: Commerce
